*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dashboardContainer{
    display: grid;
    /* grid-template-areas: 'headerH headerH headerH headerH headerH headerH'
                         'navbar  navbar navbar navbar navbar navbar'
                         'aside main main main main main'
                         'footer footer footer footer footer footer'; */

    gap: 10px;
    margin: 4px 4px;
}

.dashboardContainer > div{
    border: 2px solid gray;
}

.navbar-list{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.headerH{
    grid-area: headerH;
    text-align: center;
    padding: 12px ;
}

.navbar{
    grid-area: navbar;
    text-align: center;
    padding: 8px 12px;
}

.aside{
    grid-area:aside;
    padding: 16px 12px;
}

.main{
    grid-area:main;
    padding:16px 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* line-height: 32px; */
}

.footer{
    grid-area:footer;
    text-align: center;
    padding: 16px 12px;
}

@media (max-width: 576px) {
    .dashboardContainer{
        grid-template-areas: 'headerH '
                         'navbar '
                         ' main'
                         'aside'
                         'footer';
    }
}

@media (min-width: 577px){
    .dashboardContainer{
        grid-template-areas: 'headerH headerH headerH headerH'
                             'navbar navbar navbar navbar'
                             'aside main  main  main'
                             'aside footer footer footer';
    }
}

@media (min-width:768px){
    .dashboardContainer{
        grid-template-areas: 'headerH headerH headerH headerH headerH headerH'
                             'navbar main  main  main main aside'
                             'footer footer footer footer footer footer';
    
    }

    .navbar-list{
        flex-direction: column;
        /* align-content: space-between */
        gap:20px;
    }
}