*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 350px));
    margin: 18px;
    gap: 10px;
}

.card{
    padding: 16px 12px;
    border: none;
    border-radius: 12px;
    /* height: 400px; */
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}



.card-img img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card-desc > h2 , .card-desc > p{
    margin-bottom: 12px;
}

.card-desc p{
    padding: 0 8px;
    text-align: center;
}