*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    grid-gap: 5px;
}

.images img{
    height: 150px;
    /* width: 100%; */
}