*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3 , 300px);
    gap: 15px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 12px;
}

.images{
    width: 300px;
    height: 400px;
}

.images img{
    width: 100%;
    height: 100%;
    /* box-shadow: 0 0  4px 4px gray; */
}

.I2{
    transition: transform 1.5s ease;
    box-shadow: 0 0 0 4px 4px gray;
}

.I2:hover{
    transform: scale(1.2);
    box-shadow: 0 0 0 4px 4px rgb(0, 0, 0);
}