*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

.container{
    display: flex;

}

.left-content{
    background-color: black;
    height: 100vh;
    width: 50%;
    text-align: center;
    position: relative;
    padding-top: 8rem;
}

.right-content{
    background-color: rgb(51, 50, 50);
    height: 100vh;
    width: 50%;
    border-left:1px solid gray;
}

.logo{
    width: 100px;
    margin-top: 30px;
    margin-left: 20px;
    position: absolute;
    top:10px;
    left:20px
}

.left-content h1{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 230%;
    line-height: 4rem;
}

.image{
    width: 55%;
    margin-top:0;
}

span{
    color: linear-gradient(90deg,orange,pink);
}

.login{
    height:50%;
    width: 100%;
    padding-top:100px;
    padding-left: 80px;
    gap:20px;
    
}

input{
    margin-bottom: 12px;
}

.create-acc{
    padding-left: 80px;
    padding-top: 30px;
    height: 50%;
    width: 100%;
}

input{
    height:55px;
    width: 90%;
    border-radius: 0.8rem;
    padding: 12px;
    background-color: transparent;
    border: 1px solid gray;
}

input:hover{
    border-color: white;
}

#btn{
    height:50px;
    width: 90%;
    border-radius: 50px;
    font-weight: 600;
    font-size: 105%;
    margin-bottom: 18px;
}

.loginbtn{
    border: none;
    background-color: rgba(90, 90, 215, 0.504);
    color: white;
}

.forgotPass-btn{
    background-color: transparent;
    border: none;
    color: white;
}
.forgotPass-btn:hover{
    background-color: gray;
}

.login-fb{
    background-color: transparent;
    border: 1px solid gray;
    color: white;
}
.login-fb:hover{
    background-color: gray; 
}

.login h1{
    color: white;
    font-size: 120%;
    text-align: left;
    margin-bottom: 18px;
}

.newacc{
    color:blue;
    border: 1px solid rgb(44, 44, 244);
    background-color: transparent;
}

.newacc:hover{
    background-color: gray;
}
.meta-logo{
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

#fblogo{
    color:white;
    background-color: dodgerblue;
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 50%;
    margin-right: 12px;
    font-size: 65%;
}